body {
    background-color: aqua;
}

.main_content {
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly; 
    height: 90vh;
}
.footer {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}
.goals {
    background-color: aquamarine;
    display: flex;
    width: 100%;
}
.done {
    background-color: bisque;
    display: flex;
    width: 100%;
}



/********************/

.summary {
    display: flex;
    width: 100%;
    justify-content: center;
}
.chat {
    display: flex;
    width: 100%;
    justify-content: center;
}
.home {
    display: flex;
    width: 100%;
    justify-content: center;
}
.profile {
    display: flex;
    width: 100%;
    justify-content: center;
}
.games {
    display: flex;
    width: 100%;
    justify-content: center;
    
}