:root {
    --powderB: #FEC5BB;
    --almondS: #FCD5CE;
    --softB: #FAE1DD;
    --sea: #F8EDEB;
    --alab1: #E8E8E4;
    --alab2: #D8E2DC;
    --linen: #ECE4DB;
    --powderP: #FFE5D9;
    --peach: #FFD7BA;
    --peachG: #FEC89A;
}

body {
    background-color: aqua;
}

.main_content {
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly; 
    height: 90vh;
}
.footer {
    
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    bottom: 4px;
}
.goals {
    background-color: aquamarine;
    display: flex;
    width: 100%;
}
.done {
    background-color: bisque;
    display: flex;
    width: 100%;
}



/*footer styling*/

.summary {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
.chat {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.home {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.profile {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.games {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

/*chat styling*/

#topLeftMenu {
    display: flex;
    position: absolute;

    
}

#header {
    font-size: 8rem;

}

#smaller {
    font-size: 1rem;
}