:root {
    --powderB: #FEC5BB;
    --almondS: #FCD5CE;
    --softB: #FAE1DD;
    --sea: #F8EDEB;
    --alab1: #E8E8E4;
    --alab2: #D8E2DC;
    --linen: #ECE4DB;
    --powderP: #FFE5D9;
    --peach: #FFD7BA;
    --peachG: #FEC89A;
}


body {
    background-color: var(--alab2);
}

.main_content {
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly; 
    height: 90vh;
}

.goals {
    background-color: aquamarine;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.done {
    background-color: bisque;
    display: flex;
    width: 100%;
}




.footer {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

}

.footer_element {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
    
}

.footer_element:hover {
    cursor: pointer !important;
}

.footer_element + .footer_element {
    border-left: solid 1px white;
}




/********************/

.postit {
    height: 25vh;
    width: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image: url("images/postit.png");
    background-size: cover;
    background-position: center;

}

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}