:root {
    --color1: #FF9888;
    --color2: #FFADA1;
    --color3: #FFB8B2;
    --color4: #F2CDC7;
    --color5: #D2D2CA;
    --color6: #BBD1C5;
    --color7: #DECCBB;
    --color8: #FFC3A8;
    --color9: #FFB883;
    --color10: #FFAF64;


    --color18: rgba(255, 195, 168, 0.44);


}



@font-face {
    font-family: "autumn";
    src: url(other/fonts/Autumn.ttf);

}

@font-face {
    font-family: "calenvanda";
    src: url(other/fonts/Calenvanda.ttf);
    
}

@font-face {
    font-family: "kugile";
    src: url(other/fonts/Kugile.ttf);
    
}


body {
    background-color: #FFFFF0;
}

.main_content {
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly; 
    height: 90vh;
    background-image: url(images/diary.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.footer {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

}

.footer_element {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer_element:hover {
    cursor: pointer !important;
}

.footer_element + .footer_element {
    border-left: solid 1px white;
}

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}


.left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}

.right {
    width: 50%;
}

.profile {
    display: flex;
    flex-direction: row;
    height: 15%;
    margin-bottom: 10vh;
}

.picture {
    height: 100%;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1vh;

    font-size: 50px;
    font-family: calenvanda;
    
}

.achievements_element {
    display: flex;
    flex-direction: row;
    background-color: var(--color18);
    border-radius: 10px;
    min-width: 250px;
    margin-left: 20px;
    margin-top: 20px;
    align-items: center;
}

.achievements_image {
    height: 50px;
}

.achievements_text {
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
    margin-right: 2vh;
}
.achievements_title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: autumn;
    padding-top: 10px;
}
.achievements_desc {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: kugile;
}

.intro {
    border-radius: 10px;
    border-color: #D2D2CA;
    border-width: 10px;
    background-color: var(--color18);
    margin-right: 30vh;
    margin-top: 2vh;
    padding: 5px;
    min-width: 40vw;
}

.title {
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    font-family: calenvanda;
    font-size: 25px;
}

.text {
    font-family: kugile;
    text-align: center;
}



.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-top: 10vh;
}

.input_box {
    margin-top: 2vh;
}

.input_box {
      display: block;
      width: 100%;
      padding: 15px;
      margin-top: 2vh;
      font-size: 16px;
      border: 2px solid var(--color3);
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      transition: all 0.3s ease;
      box-sizing: border-box;

      font-family: kugile;
}

h2 {
    font-family: kugile;
}

input {
    border-radius: 10px;
    width: 10vw;
    border-color: var(--color1);
    background-color: var(--color18);
}

.activity_card {
    background-color: var(--color18);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 40vw;
    padding-bottom: 15px;
}