body {
    background-color: aqua;
}

.main_content {
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly; 
    height: 90vh;
}

.goals {
    background-color: aquamarine;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.done {
    background-color: bisque;
    display: flex;
    width: 100%;
}



.footer {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

}

/********************/

.summary {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
.chat {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.home {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.profile {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.games {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.postit {
    background-color: aqua;
    height: 25vh;
    width: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;

}