:root {
    --powderB: #FEC5BB;
    --almondS: #FCD5CE;
    --softB: #FAE1DD;
    --sea: #F8EDEB;
    --alab1: #E8E8E4;
    --alab2: #D8E2DC;
    --linen: #ECE4DB;
    --powderP: #FFE5D9;
    --peach: #FFD7BA;
    --peachG: #FEC89A;
}