/* 
  home.css
  Page-specific styles for home page
  Inherits color scheme, fonts, and footer from universalStyle.css
*/

/* Override background to match profile/games */
body {
    background-color: #FFFFF0;
}

/* Main content area with diary background */
.main_content {
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly; 
    height: 90vh;
    background-image: url(/assets/images/diary.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

/* Goals section */
.goals {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: flex-start;
}

/* Done section */
.done {
    display: flex;
    width: 100%;
}

/* Post-it notes */
.postit {
    height: 15vh;
    width: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image: url("/assets/images/postit.png");
    background-size: cover;
    background-position: center;
    font-family: calenvanda;
    font-size: 15px;
    text-align: center;
}

/* Goal input area */
.goal_input_div {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goal_input {
    align-self: center;
}

/* Image sizing for home page */
img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}